<div class="wrapper">
    <div class="container">
        <img class="logo">
      <div class="header">
        <nav>
          <a href="/home">Home</a>
          <div class="nav-item">
            <a href="/about">About</a>
            <div class="dropdown-content">
              <a href="/overview1">Overview</a>
              <a href="/mission2">Mission & Vision</a>
              <a href="/goals1">Goals</a>
              <a href="/objectives1">Objectives</a>
              <a href="/quality-policy1">Our Quality Policy</a>
              <a href="/academic-staff1">Academic Staff Members</a>
            </div>
          </div>
          <div class="nav-item">
          <a href="/faculties">Faculties</a>
          <div class="dropdown-content">
            <a href="/computing">Computing</a>
            <a href="/engineering">Engineering</a>
            <a href="/bussiness">Business</a>
            <a href="/humanities">Humanties and Sciences</a>
            <a href="/law">School Of Law</a>
            <a href="/architecture">School Of Architecture</a>
          </div>
        </div>
        <div class="nav-item">
          <a href="admin/program-admin">Programmes</a>
          <div class="dropdown-content">
            <a href="/masters">Masters Programmes</a>
            <a href="/diplomas">Diploma Programmes</a>
            <a href="/degrees">Degree Programmes</a>
            <a href="/foreign-languages">Foreign Languages</a>
            <a href="/pre-university">Pre-University Programmes</a>
            <a href="/workshops">Work Shops</a>
            <a href="/professional-certifications">Professional Certifications</a>
          </div>
        </div>
          <a href="/zonar">Zonar</a>
          <a href="/life-at-zony">Life At ZONY</a>
          <a href="/contact">Contact Us</a>
          <a href="/login">Apply Now</a>
        </nav>
    </div>
    </div>